body {
 scrollbar-face-color: #000000;
 scrollbar-highlight-color: #000000;
 scrollbar-shadow-color: #000000;
 scrollbar-arrow-color: #333333;
 scrollbar-track-color: #080808;
 scrollbar-darkshadow-color: #080808;
 scrollbar-base-color: #080808;
 background-image: url(fon.jpg);
 background-repeat: no-repeat;
 background-attachment: scroll;
 background-position: center top;
 background-color: #000000;
 font-family: Verdana;
 font-size: 11px;
 font-color: #DECC8E;
}

img {border: 0px;}

font {
 font-family: Verdana;
 color: #DECC8E;
 font-size: 11px;
 font-style: normal;
 font-weight: normal;
}

.w {
 color: #FFFFFF;
}

.g {
 color: #808080;
 font-size: 9px;
}

.big {
 font-size: 16px;
 font-style: normal;
 font-weight: bold;
}


a:link {
 text-decoration: none;
 font-weight: bold;
 border: none;
 color: #A6A6A6;
}
a:visited{
 text-decoration: none;
 font-weight: bold;
 border: none;
 color: #666666;
}
a:active{
 color: #999999;
}
a:hover{
 color: #FFFFFF;
}

.bottom {
 background-color: #080808; 
 border-bottom: 1px solid #333333; 
 border-left: 1px solid #333333; 
 border-right: 1px solid #333333; 
 border-top: 1px solid #333333; 
 color: #C0C0C0;
 font-family: Verdana;
 font-size: 11px;
 font-color: #DECC8E;
}

textarea, input, select {
 font-family: Verdana;
 background-color: #000000;
 border-bottom: 1px solid #333333;
 border-left: 1px solid #333333;
 border-right: 1px solid #333333;
 border-top: 1px solid #333333;
 color: #C0C0C0;
 font-size: 11px;
 padding-left: 2px;
}


.o {
    filter:alpha(opacity=30);
    -moz-opacity: 0.3;
    -khtml-opacity: 0.3;
    opacity: 0.3;
}